  .event-details .event-p {
    display: flex;
    justify-content: space-around;
  }
  

  
  .event-details .event-p span:nth-child(1) {
    opacity: 1;
    font-weight: bold;
  }


  .event-details {
    display: grid;
    grid-template: 60px / 1fr;
  }
  
  .t-slots {
    display: grid;
    position: relative;
    background-color: rgb(100, 100, 100);
    overflow: auto;
  }

  .t-slot-row {
    display: flex;
    justify-content: stretch;
    height: 50px;
    border-bottom: 1px solid black;
    
  }

  .t-slot-column {
    border-right: 1px solid black;
    width: 120px;
    font-size: 50%;
    background-color: rgb(176, 239, 255);
    cursor: pointer;
    word-break: break-all;
  }

  .t-span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .t-slot-column p { 
    margin: 0;
  }

  .c-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .r-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .r-0 {
    cursor: default;
  }

  .c-0 {
    cursor: default;
  }

  .d-slot {
    background-color: rgb(100, 100, 100);
    cursor: default;
  }

  .plus-symbol span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10pt;
    color: grey;
  }

  .plus-symbol {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .plus-symbol:hover {
    color: black;
    background-color: rgb(201, 255, 250);
  }

  .minus-symbol {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* outline: 3px solid orange; */
  }


  .minus-symbol span {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 10pt;
    color: grey;
  }

  .t-span .s-deet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .not-cur-user {
    display: none;
  }

  .cur-user-no:hover {
    /* background-color: rgb(158, 158, 223); */
    outline: 3px solid rgb(158, 158, 223);
  }

  .cur-user-yes:hover {
    background-color: rgb(255, 255, 255);
    background-color: transparent;
    outline: 3px solid rgb(0, 247, 255);
  }

  /* .event-modal {
    border: 1px solid orange;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
  } */
  
  /* .event-modal .event-details {
    position: fixed;
    background-color: white;
    z-index: 9;
    justify-self: center;
    height: 80vh;
    width: 80vw;
  } */

  /* .event-modal-cloud {
    position: fixed;
    top: 0;
    opacity: .8;
    border: 5px solid black;
    background-color: black;
    height: 100vh;
    width: 100vw;
  } */