 .event-modal {
    border: 1px solid orange;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
  }
  
  .event-modal .event-details {
    position: fixed;
    background-color: white;
    z-index: 9;
    justify-self: center;
    height: 50vh;
    width: 50vw;
  }

  .event-modal-cloud {
    position: fixed;
    top: 0;
    opacity: .8;
    border: 5px solid black;
    background-color: black;
    height: 100vh;
    width: 100vw;
  }

  .event-details form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }

  .event-details form label {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }

  .event-details form button {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 5px;
      width: 100px;
      padding: 8px;
      cursor: pointer;
  }

  .event-details form button:hover {
    background-color: rgb(116, 249, 253);
  }

  .event-details form button:active {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .event-details form div:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 40px;
      height: 100px;
  }

  .event-details form div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    padding: 0;
}