nav {
  width: 50vw;
  border: 1px solid black;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

/* NewEvent */

.ne-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

.ne-form label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ne-form button {
  width: 100px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

#date-langar div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
}

/* Event */

.event {
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.event:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.event:active {
  background-color: rgb(121, 155, 194);
}

.event h5 {
  opacity: .4;
}

.event h4 {
  opacity: .6;
}

/* EventModal */

.event-modal {
  border: 1px solid orange;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.event-modal div {
  position: fixed;
  background-color: white;
  z-index: 9;
  justify-self: center;
  height: 80vh;
  width: 80vw;
}

.event-modal div p {
  display: flex;
  justify-content: space-around;
}

.event-modal div p span {
  opacity: .4;
}

.event-modal div p span:nth-child(1) {
  opacity: 1;
  font-weight: bolder;
}

.event-modal-cloud {
  position: fixed;
  top: 0;
  opacity: .8;
  border: 5px solid black;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

/*  Extra... can delete */

#flush {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .5;
  border: 1px solid black;
  background-color: transparent;
}